{% extends "base.html.twig" %}
{% block body %}
    <form method="post" action="../pedido/gerenciador">
        <input type="hidden" name="cancelar" value="1"/>
        <input type="hidden" name="cadastrar" value="1"/>

        <table class="table table-bordered">
            <tr style="text-align: center; font-family: monospace; font-size: 20px; color: black;">
                <td>Pedido(ID)</td>
                <td>Cliente</td>
                <td>Status</td>
                <td colspan="3">Gerenciador</td>
            </tr>
            {% for pedidoCliente in buscarPedidosCliente %}    
                <tr style="text-align: center;">
                    <td>{{pedidoCliente.id}}</td>
                    <td>{{pedidoCliente.cliente_id}}</td>
                    <td>{{pedidoCliente.status}}</td>
                    <td><a href="../pedido/editar_cliente.php?pedido_id={{pedidoCliente.id}}" class="btn btn-default navbar-btn">Editar Cliente</a></td>
                    <td><a href="../pedidoProduto/cadastro.php?pedido_id={{pedidoCliente.id}}" class="btn btn-default navbar-btn">Gerenciar</a></td>
                    <td><button name="id_compra" type="submit" class="btn btn-default navbar-btn  glyphicon glyphicon-remove" value="{{pedido.id}}">Cancelar</button></td>
                {% endfor %}
            </tr>
        </table>
    </form>
{% endblock %}

